@import url(https://db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed);

.card-image-text{
    font-family: 'Burbank Big Condensed';
    width: 50%;
    margin: auto;
    margin-top: 150px;
}


.card-image-text h2{
    margin-top: 5%;
    color: #4DCCFA;
}

.card-image-text p{
    font-size: 24px;
    line-height: 30px;
}