
.contenedor{
    position: relative;
    margin-bottom: 10px;
} 

.secondContainer{
   top:170%;
   left:50%;
   transform: translate(0, -10%);
   
}

@media (max-width: 768px){
    .secondContainer{
        top:200%;   
     }
}


